<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Html5iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8290D7E91CE583A00050782B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8290D7FD1CE583A10050782B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8290D8081CE583A10050782B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
